.composition {
  position: relative;

  &__photo {
    height: 20rem;
    position: absolute;
    transition: all 0.3s;
    outline-offset: 2rem;
    border-radius: 2rem;

    &:hover {
      transform: scale(1.2);
      outline: 1rem solid $color-primary;
      z-index: 20;
    }
  }

  &__photo__p1 {
    top: 5rem;
    left: 0;
  }

  &__photo__p2 {
    top: 0;
    right: 0;
  }

  &__photo__p3 {
    top: 15rem;
    right: 10rem;
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.94);
  }
}
