.feature-box {
  background-color: rgba($color-white, 0.8);
  text-align: center;
  padding: 2.5rem;
  border-radius: 2rem;
  transition: all 0.3s;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.3);
  backface-visibility: hidden;
  font-size: 1.5rem;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: scale(1.03) translateY(-1.5rem) rotate(3deg);
    box-shadow: 0 2rem 4rem rgba($color-black, 0.8);
  }

  //   &:not(:hover) {
  //     transform: scale(0.8);
  //   }
}
